/* cart color  */
.cart-programmers {
  color: mediumpurple;
}
/* list item design  */
.list-item li {
  list-style-type: none;
  text-align: start;
  margin-left: 10px;
  color: mediumpurple;
  font-weight: 700;
}
/* list item image width control */
.list-item img {
  width: 40px;
  border-radius: 50%;
}
/* cart details container design  */
.cart-details-container {
  display: flex;
  align-items: center;
}
